@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  font-size: 92.5%;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.header__img {
  width: 100%;
  height: 100%;
}

.main--gallery {
  padding: 20px 30px;
}

.box-top {
  font-family: "Inter", sans-serif;
  padding: 4px 0;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gallery__img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 5px;
}

.banner__img {
  width: 100%;
  height: 100%;
}

.h2__nosotros {
  font-family: "Inter", sans-serif;
  color: rgba(26, 25, 25, 0.993);
  text-align: center;
}
.h2__nosotros-community {
  font-size: 70px;
  margin-top: 80px;
  color: rgba(26, 25, 25, 0.993);
  text-align: center;
  font-weight: bold;
}
.h2__nosotros-p {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 120px;
  margin-top: 20px;
}

/* .nav {
    background-color: $mainColor;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo-img{
        width: 80px;
        height: 80px;
    }
    &__ul{
        font-family: $mainFont;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        &-options{
            &__link {
                text-decoration: none;
                color: $secondaryColor;
                padding: 0px 80px 0px 80px;
                display: flex;
                justify-content: space-between;
            }    
         }
        }
    &-registros{
        display: flex;
        height: 30px;
        width: 140px;
        justify-content: space-between;
        margin-right: 30px;
    }
} */
.nav {
  background-color: rgb(218, 35, 35);
}
.nav__logo-img {
  width: 70px;
  height: 70px;
}
.nav__ul {
  font-family: "Inter", sans-serif;
}
.nav__ul__li-a {
  text-decoration: none;
  color: white;
  margin: 0px 120px 0px 90px;
}
.nav__ul__li-a:hover {
  background-color: rgb(218, 35, 35);
  color: black;
}

.productos__h2-text {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: black;
  font-size: 3.2em;
  margin-top: 30px;
  margin-bottom: 30px;
}
.productos__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productos__figure {
  font-family: "Inter", sans-serif;
  width: 350px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 0;
  text-align: center;
}
.productos__figure-products {
  width: 350px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 0;
  text-align: center;
}
.productos__img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 5px;
  align-items: center;
}
.productos__img-products-boxes {
  width: 100%;
  height: 300px;
  margin: 5px;
  align-items: center;
}
.productos__img-products {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 5px;
  align-items: center;
}
.productos__name {
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: black;
  font-weight: bold;
}
.productos__price {
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  align-items: center;
}
.productos__button {
  font-family: "Inter", sans-serif;
  border: none;
  padding: 4px;
  background-color: rgb(218, 35, 35);
  border-radius: 3px;
  color: white;
  margin-top: 2px;
  margin-right: 7px;
}
.productos__button:hover {
  background-color: rgb(218, 35, 35);
  color: black;
}
.productos__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productos__h3 {
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 1.2em;
}

.filters {
  font-family: "Inter", sans-serif;
  padding: 0 20px 30px 30px;
}

.filters__a {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  background-color: white;
  color: black;
  margin-bottom: 4px;
}

.filters__a:hover {
  background-color: white;
  color: red;
}

.filters__span {
  font-family: "Inter", sans-serif;
  display: block;
  color: black;
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.filters__select {
  font-family: "Inter", sans-serif;
  color: black;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.filters__li {
  font-family: "Inter", sans-serif;
  padding-left: 10px;
}

.actions {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions__button {
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  background-color: rgb(218, 35, 35);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

.actions__input {
  font-family: "Inter", sans-serif;
  padding: 6px;
  border-radius: 3px;
  background-color: white;
}

.tienda {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 80px repeat(3, 300px);
  gap: 5px;
  grid-template-areas: "actions actions actions" "filters prod1 prod1" "filters prod2 prod3";
}

.tienda .actions {
  font-family: "Inter", sans-serif;
  padding: 0 30px;
  grid-area: actions;
}

.tienda .filters {
  font-family: "Inter", sans-serif;
  grid-area: filters;
}

.tienda .prod1 {
  font-family: "Inter", sans-serif;
  grid-area: prod1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tienda .prod1 p {
  width: 50%;
  margin-left: 50px;
}

.tienda .prod1 img {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.tienda .prod2 {
  font-family: "Inter", sans-serif;
  grid-area: prod2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-right: 20px;
}

.tienda .prod2 img {
  width: 330px;
  height: 300px;
  margin-top: 50px;
}

.tienda .prod3 {
  font-family: "Inter", sans-serif;
  grid-area: prod3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 20px;
}

.tienda .prod3 img {
  width: 350px;
  height: 350px;
}

.tienda section {
  border-radius: 10px;
}

.contact__img {
  padding: 0px 50px;
  height: 700px;
  width: 800px;
}

.form {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 800px 800px;
}
.form__section {
  margin-top: 50px;
}

.section__title {
  font-size: 25px;
  margin-bottom: 20px;
  white-space: nowrap;
  margin-left: 20px;
}

.contactar--espacio {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
  display: block;
  margin-left: 20px;
}
.contactar--input {
  padding: 12px 0;
  width: 800px;
  margin-bottom: 30px;
  margin-left: 20px;
  border: 0;
  border-bottom: 2px solid rgb(218, 35, 35);
  color: white;
}
.contactar--enviar {
  display: block;
  font-size: 20px;
  border-radius: 0;
  color: white;
  font-weight: 500;
  display: block;
  width: 100%;
  height: 80px;
  background: rgb(218, 35, 35);
  margin-left: 20px;
}

@media (max-width: 1720px) {
  .html {
    width: 100%;
  }
  .nav__ul {
    padding-right: 35px;
  }
  .contact__img {
    padding: 0px 30px;
  }
}
@media (max-width: 1474px) {
  .nav__ul {
    padding-right: 50px;
  }
  .contact__img {
    padding: 0px 20px;
  }
}
@media (max-width: 1190px) {
  .nav__ul__li-a {
    margin: 0px 50px 0px 70px;
  }
  .contact__img {
    padding: 0px 20px;
  }
}
@media (max-width: 993px) {
  .nav__ul {
    display: inline-block;
  }
  .nav__ul__li-a {
    margin: 0px 20px 0px 30px;
  }
  .contact__img {
    padding: 0px 15px;
  }
}
@media (max-width: 640px) {
  .nav__ul {
    width: 100%;
  }
  .nav__ul__li-a {
    margin: 0px 10px 0px 20px;
  }
  .contact__img {
    padding: 0px 10px;
  }
}
.footer {
  font-family: "Inter", sans-serif;
  padding: 3px 10px;
  background-color: rgb(218, 35, 35);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__svg {
  width: 30px;
  height: 30px;
  fill: black;
  margin-right: 20px;
}
.footer__ul {
  list-style: none;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__a {
  color: black;
  font-size: 1.1em;
  text-decoration: none;
}

.error__text {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgb(218, 35, 35);
}
.error__link {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: black;
}

/*# sourceMappingURL=main.css.map */
