
.error{
    &__text{
        font-family: $mainFont;
        text-align: center;
        color: $mainColor;
    }
    &__link{
        font-family: $mainFont;
        text-align: center;
        color: $textColor;
    }
}