// proximamente grid
.filters {
    font-family: $mainFont;
    padding: 0 20px 30px 30px;
}

.filters__a {
    font-family: $mainFont;
    font-size: .9em;
    text-decoration: none;
    background-color: white;
    color: black;
    margin-bottom: 4px;
}

.filters__a:hover {
    background-color: white;
    color: red;
}

.filters__span {
    font-family: $mainFont;
    display: block;
    color: black;
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: .9em;
}

.filters__select {
    font-family: $mainFont;
    color: black;
    border: none;
    background-color: white;
    margin-bottom: 10px;
    font-size: .9em;
}

.filters__li {
    font-family: $mainFont;
    padding-left: 10px;
}

.actions {
    font-family: $mainFont;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions__button {
    font-family: $mainFont;
    margin-left: 10px;
    background-color: rgb(218, 35, 35);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions__input {
    font-family: $mainFont;
    padding: 6px;
    border-radius: 3px;
    background-color: white;
}

.tienda {
    font-family: $mainFont;
    display: grid;
    grid-template-columns: 20% repeat(2, 1fr);
    grid-template-rows: 80px repeat(3, 300px);
    gap: 5px;
    grid-template-areas:
        "actions actions actions"
        "filters prod1 prod1"
        "filters prod2 prod3";
}

.tienda .actions {
    font-family: $mainFont;
    padding: 0 30px;
    grid-area: actions;
}

.tienda .filters {
    font-family: $mainFont;
    grid-area: filters;
}

.tienda .prod1 {
    font-family: $mainFont;
    grid-area: prod1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tienda .prod1 p {
    width: 50%;
    margin-left: 50px;
}

.tienda .prod1 img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.tienda .prod2 {
    font-family: $mainFont;
    grid-area: prod2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 20px;
}

.tienda .prod2 img {
    width: 330px;
    height: 300px;
    margin-top: 50px;
}

.tienda .prod3 {
    font-family: $mainFont;
    grid-area: prod3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 20px;
}

.tienda .prod3 img {
    width: 350px;
    height: 350px;
}

.tienda section {
    border-radius: 10px;
}


// contactanos grid

.contact{
    &__img {
        margin-bottom: 55px;
        margin-right: 50px;
        height: 800px;
        width: 800px;
    }
}

.form {
    font-family: $mainFont;
    display: grid;
    grid-template-columns: 800px 800px;
    &__section {
        margin-top: 50px;
    }
}

.section{
    &__title {
        font-size: 25px;
        margin-bottom: 20px;
        white-space: nowrap;
        margin-left: 20px;
    }
}

.contactar{
    &--espacio {
        font-size: 15px;
        font-weight: 400;
        padding-top: 10px;
        display: block;
        margin-left: 20px;
    }
    &--input {
        padding: 12px 0;
        width: 800px;
        margin-bottom: 30px;
        margin-left: 20px;
        border: 0;
        border-bottom: 2px solid $mainColor;
        color: $secondaryColor;
    }
    &--enviar {
        display: block;
        font-size: 20px;
        border-radius: 0;
        color: $secondaryColor;
        font-weight: 500;
        display: block;
        width: 100%;
        height: 80px;
        background: $mainColor;
        margin-left: 20px;
    }
}