@media (max-width: 1720px) {
    .html {
        width: 100%;
    }
    .nav__ul {
        padding-right: 35px;
    }
    .contact__img{
        padding: 0px 30px;
    }
}

@media (max-width: 1474px) {
    .nav__ul {
        padding-right: 50px;
    }
    .contact__img{
        padding: 0px 20px;
    }
}

@media (max-width: 1190px) {
    .nav__ul__li-a {
        margin: 0px 50px 0px 70px;
    }
    .contact__img{
        padding: 0px 20px;
    }
}

@media (max-width: 993px) {
    .nav__ul {
        display: inline-block;
    }
    .nav__ul__li-a{ 
        margin: 0px 20px 0px 30px;
    }
    .contact__img{
        padding: 0px 15px;
    }
}

@media (max-width: 640px) {
    .nav__ul {
        width: 100%;
    }
    .nav__ul__li-a{
    margin: 0px 10px 0px 20px;
    }
    .contact__img{
    padding: 0px 10px;
    }
}