/* .nav {
    background-color: $mainColor;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo-img{
        width: 80px;
        height: 80px;
    }
    &__ul{
        font-family: $mainFont;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        &-options{
            &__link {
                text-decoration: none;
                color: $secondaryColor;
                padding: 0px 80px 0px 80px;
                display: flex;
                justify-content: space-between;
            }    
         }
        }
    &-registros{
        display: flex;
        height: 30px;
        width: 140px;
        justify-content: space-between;
        margin-right: 30px;
    }
} */

.nav {
    background-color: $mainColor;
    &__logo-img{
        width: 70px;
        height: 70px;
    }
    &__ul{
        font-family: $mainFont;
        &__li{
            &-a {
                text-decoration: none;
                color: $secondaryColor;
                margin: 0px 120px 0px 90px;
                &:hover{
                    background-color: $mainColor;
                    color: black;
                }
            }    
         }
        }
}
