.nav {
    background-color: $mainColor;
    &__logo-img{
        width: 70px;
        height: 70px;
    }
    &__ul{
        font-family: $mainFont;
        &__li{
            &-a {
                text-decoration: none;
                color: $secondaryColor;
                margin: 0px 120px 0px 90px;
                &:hover{
                    background-color: $mainColor;
                    color: black;
                }
            }    
         }
        }
}
